/* Estilo geral da página */

/* Container para o fundo da imagem */
.container-agendado {
    position: fixed; /* Altera para fixed para o fundo ocupar toda a tela sem sobrepor o conteúdo */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/static/images/template.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;  /* Coloca a imagem de fundo atrás do conteúdo */
    opacity: 0.1; /* Define a opacidade de todo o elemento */
}
.voltar-agend {
  display: inline-block;
  position: fixed;
  background: none;
  color: transparent;
  background-image: url("/static/images/voltar.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 3rem;
  height: 3rem;
  top: 22px;
  left: 1450px;
  border-color: transparent;
  cursor: pointer;
}


/* Estilo do título principal */
h1 {
    margin-top: 40px;
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    color: #676565;
}

/* Estilo para o calendário */
#calendario {
    width: 50%;
    margin: 20px auto;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 80px;
    margin-left: 45px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap; /* Permite que os itens do header se ajustem quando necessário */
}
.semana {
    background-color: #f1f1f1;
    color: #000000;
    font-weight: bold;
    font-size: 1.2rem;
}

header button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

header h2 {
    margin: 0;
    font-size: 24px;
    color: #363b56;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

td.dia {
    background-color: #f9f9f9;
    font-weight: bold;
}

td.dia:hover {
    background-color: #f1f1f1;
}

/* Estilo para destacar o dia atual no calendário */
.data-hoje {
    font-weight: bold; /* Deixa o texto em negrito */
    color: #a30202; /* Cor do texto */
    border-radius: 50%; /* Torna o destaque arredondado */
}

/* Estilo para a tabela de horários */
#horarios {
    width: 35%;
    height: 40px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 15px;
    cursor: pointer;
    margin-top: -24rem;
    margin-left: 55rem;
}
.agendados {
    color: #1b0a45;
    margin-top: 0.4rem;
}

#horario td {
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
    border-bottom: 1px solid #eee;
}

#horario td:first-child {
    text-align: left;
}

#horario td:last-child {
    text-align: right;
}

/* Estilos de mensagem quando não há horários */
#horarios h2 {
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

#horario td[colspan="2"] {
    text-align: center;
    font-style: italic;
    color: #888;
}





/*  CANCELAR  */

button.cancelar {
  display: flex;
  position: absolute;
  background-color: #b7b2b2;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-bottom: 10px;
  margin-top: 22rem;
  margin-left: 20rem;
}

button.cancelar:hover {
  background-color: #86b4b4;
}

#form-excluir {
  position: absolute;
  background-color: #f9f9f9;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 12px;
  max-width: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  top: 35rem;
  margin-left: 17rem;
}

/* Linha com label + input */
#form-excluir .form-linha {
  display: flex;
  align-items: center;
  margin-bottom: 3px; /* <- aumenta o espaço entre os blocos */
  border: 1px solid transparent; /* só pra visualizar os blocos se quiser */
}

/* Labels com largura fixa */
#form-excluir .form-linha label {
  width: 90px;
  margin-right: 10px;
  font-weight: bold;
  color: #333;
}

/* Inputs */
#form-excluir .form-linha input {
  flex: 1;
  padding: 1px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.confirmarcancelamento {
    height: 1.5rem;
    margin-top: 1rem;
    margin-left: 5rem;
    background-color: #565454;
    color: #ffffff;
}























/* Responsividade */
@media (max-width: 600px) {
    .voltar-agend {
        display: inline-block;
        position: fixed;
        background: none;
        color: transparent;
        background-image: url("/static/images/voltar.png");
        background-size: cover;
        background-repeat: no-repeat;
        width: 3rem;
        height: 3rem;
        top: 22px;
        left: 1450px;
        border-color: transparent;
        cursor: pointer;
    }


    /* Estilo do título principal */
    h1 {
        margin-top: 40px;
        font-size: 2rem;
        margin-bottom: 20px;
        text-align: center;
        color: #676565;
    }

    /* Estilo para o calendário */
    #calendario {
        width: 93%;
        margin: 0px auto;
        border: 1px solid #ddd;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 20px;
        cursor: pointer;
        margin-top: 20px;
        margin-left: -0.5rem;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2px;
        flex-wrap: wrap; /* Permite que os itens do header se ajustem quando necessário */
    }
    .semana {
        background-color: #f1f1f1;
        color: #000000;
        font-weight: bold;
        font-size: 1rem;
    }

    header button {
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        color: #333;
    }

    header h2 {
        margin: 0;
        font-size: 24px;
        color: #363b56;
    }

    table {
        width: 80%;
        border-collapse: collapse;
    }

    th, td {
        padding: 10px;
        text-align: center;
        border: 1px solid #ddd;
    }

    td.dia {
        background-color: #f9f9f9;
        font-weight: bold;
    }

    td.dia:hover {
        background-color: #f1f1f1;
    }

    /* Estilo para destacar o dia atual no calendário */
    .data-hoje {
        font-weight: bold; /* Deixa o texto em negrito */
        color: #a30202; /* Cor do texto */
        border-radius: 50%; /* Torna o destaque arredondado */
    }

    /* Estilo para a tabela de horários */
    #horarios {
        width: 100%;
        height: 40px;
        border: 1px solid #ddd;
        background-color: #f9f9f9;
        border-radius: 15px;
        cursor: pointer;
        margin-left: 55rem;
        margin: 5px auto;
        font-size: 0.8rem;
    }
    .agendados {
        color: #1b0a45;
        margin-top: 0.4rem;
        
    }
    #horario td {
        padding: 10px;
        text-align: center;
        font-size: 0.7rem;
        border-bottom: 1px solid #eee;
    }

    #horario td:first-child {
        text-align: left;
    }

    #horario td:last-child {
        text-align: right;
    }

    /* Estilos de mensagem quando não há horários */
    #horarios h2 {
        align-items: center;
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 15px;
    }

    #horario td[colspan="2"] {
        text-align: center;
        font-style: italic;
        color: #888;
    }





    /*  CANCELAR  */

    button.cancelar {
    display: flex;
    position: absolute;
    background-color: #b7b2b2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-bottom: 10px;
    top: 52rem;
    left: 5rem;
    margin: 0px auto;
    }

    button.cancelar:hover {
    background-color: #86b4b4;
    }

    #form-excluir {
    position: absolute;
    background-color: #f9f9f9;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 12px;
    max-width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    top: 54rem;
    margin-left: 1.7rem;
    }

    /* Linha com label + input */
    #form-excluir .form-linha {
    display: flex;
    align-items: center;
    margin-bottom: 3px; /* <- aumenta o espaço entre os blocos */
    border: 1px solid transparent; /* só pra visualizar os blocos se quiser */
    }

    /* Labels com largura fixa */
    #form-excluir .form-linha label {
    width: 90px;
    margin-right: 10px;
    font-weight: bold;
    color: #333;
    }

    /* Inputs */
    #form-excluir .form-linha input {
    flex: 1;
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 4px;
    }

    .confirmarcancelamento {
        height: 1.5rem;
        margin-top: 1rem;
        margin-left: 5rem;
        background-color: #565454;
        color: #ffffff;
    }

    
}


