<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PROFISSIONAIS</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>

  <body>
    <div class="container-profissional"></div>
    <p class="texto1-prof">Unas</p>
    <p class="texto2-prof">impecáveis</p>
    <p class="texto3-prof">auto-estima</p>
    <p class="texto4-prof">renovada</p>
    <a href="/" class="sair-esmalteria">Sair</a>

    <a href="/manicure">
      <img class="img-yas" src="/static/images/yasmin.png" alt="img-yas" />
    </a>

    <img class="mao" src="/static/images/mao.png" alt="logo" />
  </body>
</html>
