<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PROFISSIONAIS</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>

  <body>
    <div class="container-profissional"></div>
    <a href="/" class="sair-podologia">Sair</a>

    <a href="/podologa">
      <img class="img-aman" src="/static/images/amanda.png" alt="img-yas" />
    </a>

    <img class="pod" src="/static/images/podologia.png" alt="logo" />
  </body>
</html>
